.block {
  padding: 1.25rem;
  border-radius: 1.4rem;
  background-color: #FFFFFF;
}

.block img {
  border-radius: 2rem;
}

.thread .text {
  padding-right: 0;
  padding-left: 0;
}

.block .username {
  font-size: 1.125rem;
  font-weight: bold;
  color: inherit;
}

.block .date {
  font-size: 0.875rem;
  color: #9E9E9E;
}

.block .statistics .btn {
  padding: 0;
  font-weight: bold;
  color: inherit;
}

.block .statistics .count {
  vertical-align: middle;
}

.block .statistics .clicked {
  color: #2196F3;
}

.btn-link.focus, .btn-link:focus {
  text-decoration: none;
}