.block {
  padding: 1.25rem;
  border-radius: 1.4rem;
  background-color: #FFFFFF;
}

.block img {
  border-radius: 3rem;
}

.block .avatar {
  max-width: 80px;
  max-height: 80px;
  border-radius: 3rem;
}